.controllers{
    margin-top: 20px;
    display: flex;
    gap: 20px;

    &__button{
        width: 150px;
        font-size: 16px;
        padding: 10px 20px 6px 20px;
        border: 1px solid rgb(239, 239, 239);
    }

    &__button:hover{
        transform: scale(1.05);
        transition: 0.2s;
    }

    &__button:not(:hover){
        transform: scale(1);
        transition: 0.2s;
    }

    &__button:active{
        border-bottom: 1px solid blue;
    }
}

.prevButton{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.prevButton:active{
    border-left: 1px solid blue;
}

// .playButton:focus{
//     box-shadow: 0px 0px 2px blue;
// }

.pauseButton{
    
}

.nextButton{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nextButton:active{
    border-right: 1px solid blue;
}